<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>PhD in Bioinformatics</h1>
            <span>Georgia Institue of Technology</span>
            <span><address>Atlanta, Ga, USA</address><time>Aug 2013 to Dec 2018</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>BS in Biochemistry and Molecular Biology</h1>
            <span>Michigan State University</span>
            <span><address>East Lansing, Mi, US</address><time>Aug 2008 to May 2012</time></span>
        </header>
    </article>
</section>
