<section class="thirteen columns">
    <h1>Experience</h1>
    <article>
        <header>
            <h1>ORISE Genomics Analysis Postdoctoral Fellow</h1>
            <span>US Centers for Disease Control and Prevention</span>
            <span><address>Atlanta, Ga, USA</address><time>Feb 2019 to Present</time></span>
        </header>
        <p><em>How antigenic selection drives the genomic, proteomic, and geographic evolution of influenza worldwide</em></p>
    </article>
    <article>
        <header>
            <h1>Graduate Research Assistant</h1>
            <span>Georgia Institue of Technology</span>
            <span><address>Atlanta, Ga, USA</address><time>Aug 2013 to Dec 2018</time></span>
        </header>
        <p><em>The origin and interrelatedness of life is contained within the molecular structure of the ribsome</em></p>
    </article>
    <article>
        <header>
            <h1>NSF EAPSI Fellow</h1>
            <span>National Taiwan University</span>
            <span><address>Taipei, Taiwan</address><time>Jun 2017 to Aug 2017</time></span>
        </header>
        <p><em>Awarded NSF fellowship to conduct summer research with international collaborator</em></p>
    </article>
    <article>
        <header>
            <h1>Graduate Teaching Assistant</h1>
            <span>Georgia Institute of Technology</span>
            <span><address>Atlanta, Ga, USA</address><time>Aug 2013 to Dec 2016</time></span>
        </header>
        <p><em>Biophysical Chemistry Lab II <small>(CHEM 4682)</small><br/>
            Macromolecular Structure <small>(CHEM 6572)</small><br/>
            Survery of Biochemistry <small>(CHEM 3511)</small></em></p>
    </article>
</section>
