<section class="thirteen columns">
    <h1>Publications</h1>
    <article>
        <ol reversed>
        <li>Kovacs, N. A., Penev, P. I., Venapally, A., Petrov, A. S., Williams, L. D. 
        “Circular Permutation Obscures the Universality of a Ribosomal Protein”, J. Mol. Evol. 86, pgs 581-592 (2018)
        </li>

        <li>Bernier, C.R., Petrov, A. S., Kovacs, N. A., Penev, P. I., Williams, L. D. 
        “ranslation: The Universal Structural Core of Life”, Mol. Biol. Evol. 35, pgs 2065-2076 (2018)
        </li>

        <li>Gómez Ramos, L. M., Degtyareva, N. N., Kovacs, N. A., Holguin, S. Y., Jiang, L., Petrov, A. S., Biesiada M., 
        Hu, M. Y., Purzycka, K. J., Arya, D. P., Williams, L. D. “Eukaryotic Ribosomal Expansion Segments as Antimicrobial Targets”, 
        Biochemistry 56, pgs 5288-5299 (2017)
        </li>

        <li>Kovacs, N.A., Petrov, A.S., Lanier, K.A., and Williams, L.D. “Frozen in Time: The History of Proteins”, 
        Mol. Biol. Evol. 34, pgs 1252-1260 (2017)
        </li>
            
        <li>Gómez Ramos, L.M., Smeekens, J.M., Kovacs, N.A., Bowman, J.C., Wartell, R.M., Wu, R., and Williams, L.D. 
        “Yeast rRNA Expansion Segments: Folding and Function”, J. Mol. Biol. 428, pgs 4048-4059 (2016)
        </li>
            
        <li>Petrov, A.S., Gulen, B., Norris, A.M., Kovacs, N.A., Bernier, C.R., Lanier, K.A., Fox, G.E., Harvey, S.C., 
        Wartell, R.M., Hud, N.V., and Williams, L.D. “History of the Ribosome and the Origin of Translation”, 
        Proc. Natl. Acad. Sci. U.S.A. 112, pgs 15396-15401 (2015)
        </li>
            
        <li>Petrov, A.S., Bernier, C.R., Hsiao, C., Norris, A.M., Kovacs, N.A., Waterbury, C.C., Stepanov, V.G., Harvey, S.C., 
        Fox, G.E., Wartell, R.M., Hud, N.V., and Williams, L.D. “Evolution of the Ribosome at Atomic Resolution”, 
        Proc. Natl. Acad. Sci. U.S.A. 111, pgs 10251-10256 (2014)
        </li>
            
        <li>Sharma, M., Predeus, A.V., Kovacs, N.A., and Feig, M. “Differential Recognition Specificities of Eukaryotic MutSα and MutSβ”, 
        Biophys. J. 106, pgs 2483-2492 (2014)
        </li>
        </ol>
    </article>
</section>
